@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	// background: ;

	// background: rgb(2,0,36);
	// background: radial-gradient(circle, #464646 20%, #111111 100%);

	background: #FFF1C5; 
	background: radial-gradient(circle, #FFF8E6 20%, #FFEAB9 100%);

	font-family: 'Noto Serif', serif; 
}

#world {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}


#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 1900px;
	display: block;

}




#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	// background: rgba(0,0,0,.9);

	.lds-ripple {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		top: calc(50% - 64px /2);
		left: calc(50% - 64px /2);
	}
	.lds-ripple div {
		position: absolute;
		border: 4px solid #F57C7C;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
		animation-delay: -0.5s;
	}
	@keyframes lds-ripple {
		0% {
			top: 28px;
			left: 28px;
			width: 0;
			height: 0;
			opacity: 1;
		}
		100% {
			top: -1px;
			left: -1px;
			width: 58px;
			height: 58px;
			opacity: 0;
		}
	}
}